h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main input {
  width: 400px;
  height: 30px;
}
.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
}
